doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body 
        .container 
            .div1 
                h1 Welcome Back!
                p Register with your personal account to use this  apps
                button.btn2 SIGN IN
            .div2 
                h1 Create Account 
                .div_btn 
                    button 
                    button 
                    button 
                p or use your email password 
                form
                    input(type="text" placeholder="name")
                    input(type="text" placeholder="Email")
                    input(type="text" placeholder="Password")
                h3 Forget Your  Password
                button.btn1 SIGN UP
